{% extends "capaivara.html" %}

{% block titulo %}
    FEED
{% endblock %}


{% block body %}

    {% includes "navbar.html" %}

    <h1> FEED PRINCIPAL </h1>




    {%for post in all_posts %}
        <!-- <img src="{{ url_for('static', filename='fotos_dos_posts/default.jpg') }}"> -->
        <a href=" {{ url_for('profile', user_id=post.user_id) }} ">
            <img class="img-thumbnail rounded" src="{{ url_for('static', filename='fotos_dos_posts/{}'.format(post.post_img)) }}">
        </a>
    {% endfor %}

{% endblock %}
