{% extends "home.html" %}

{% block titulo %}
    NEW ACCOUNT
{% endblock %}

{% block convite %}
        <h1 >Novo por aqui? <br> Que tal criar uma conta?</h1>
{% endblock %}

{% block formulario %}

    <form method="POST">
        {{ form.csrf_token }}



        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.usarname.label() }}

        {{ form.usarname() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.checkPassword.label() }}
        {{ form.checkPassword() }}

        {{ form.btn() }}
    </form>


{% endblock %}

