{% extends "capaivara.html" %}

{% block titulo %}
    Profile of {{ user.username }}
{% endblock %}


{% block body %}
    <h1> PROFILE OF: {{ user.username }} </h1>
    <a href=" {{ url_for('homepage') }} ">BACK HOME</a> <br>
    <a href=" {{ url_for('logout') }} ">LOGOUT</a>

    {% if form %}
        Seu Perfil - Pode postar
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {{ form.text.label() }}
            {{ form.text() }}

            {{ form.photo.label() }}
            {{ form.photo() }}

            {{ form.btn() }}

        </form>
    {% endif %}


    <img src="{{ url_for('static', filename='fotos_dos_posts/default.jpg') }}">

    {% for post in user.posts %}
        <!-- <img src="{{ url_for('static', filename='fotos_dos_posts/default.jpg') }}"> -->
        <img class="img-thumbnail rounded" src="{{ url_for('static', filename='fotos_dos_posts/{}'.format(post.post_img)) }}">
    {% endfor %}

{% endblock %}
